@inherits LayoutComponentBase
@namespace FourthPharos.Host.Shared

@inject AuthenticationStateProvider authProvider
@inject NavigationManager navigator

<PageTitle>(ALPHA) Fourth Pharos</PageTitle>

<div class="main-layout">
    <div class="app-title-bar">
        <div class="app-menu">
            <a @onclick=@(() => navigator.NavigateTo(Routes.MyCircles))>My Circles</a>
            <a @onclick=@(() => navigator.NavigateTo(Routes.MyCharacters))>My Characters</a>
        </div>
        <LoginDisplay></LoginDisplay>
    </div>
    <div class="app-body">
         @Body
    </div>
</div>
