@inherits LayoutComponentBase
@namespace FourthPharos.Host.Shared

@inject AuthenticationStateProvider authProvider;

<PageTitle>FourthPharos.Host</PageTitle>

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => isSidebarExpanded = !isSidebarExpanded)"></RadzenSidebarToggle>
            <RadzenLabel Text="Fourth Pharos" style="flex-grow: 1"></RadzenLabel>
            <div>
                <LoginDisplay></LoginDisplay>
            </div>
        </RadzenStack>
    </RadzenHeader>
    @if(isAuthenticated == true)
    {
        <RadzenSidebar @bind-Expanded="@isSidebarExpanded">
            <NavMenu></NavMenu>
        </RadzenSidebar>
    }
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>
