@page "/circle/create"
@page "/circle/edit/{Id:guid}"

@using FourthPharos.Host.Services

@inject ICircleService circleService
@inject AuthenticationStateProvider authStateProvider

<PageTitle>(ALPHA) Fourth Pharos - Edit Circle</PageTitle>

<div>
    <div>Basic information</div>
    <div style="display: flex;">
        <RadzenText>Circle of: </RadzenText>
        <RadzenTextBox @bind-Value=circleName Change=@(args => SetName()) class=@(IsCircleNameInvalid ? "invalid" : "") />
    </div>
    <div style="display: flex;">
        <RadzenText>Chapter House Location: </RadzenText>
        <RadzenTextBox @bind-Value=circleLocation Change=@(args => SetLocation()) />
    </div>
</div>

<div>
    <div>Abilities</div>
    @for (var r = 1; r <= Model.Rank; ++r)
    {
        var rank = r;
        <div>
            <span>Rank @r:</span>
            <RadzenDropDown Value="@GetAbilityAtRank(rank)" Data=@GetAvailableAbilities() TextProperty="Name" Change="@(args => SetAbility(rank, ((AbilityModel)args).Code))" TValue="AbilityModel"></RadzenDropDown>
        </div>
    }
</div>



