@import '../../Styles/units.scss';

.page-title {
    display: flex;
    align-items: center;

    :first-child {
        flex-grow: 1;
    }
}

.circle-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    ::deep .circle-card-layout {
        width: 400px;
    }
}
