@page "/my-circles"
@namespace FourthPharos.Host.Pages.Circle

@using FourthPharos.Host.Services

@inject ICircleService circleService
@inject AuthenticationStateProvider authStateProvider

<div class="component-layout">
    <div class="grid-header">
        <span class="header">My Circles</span>
        <div class="new-circle"><RadzenButton Icon="add" Text="New circle"></RadzenButton></div>
    </div>
    <RadzenStack class="grid-body" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
        @foreach (var c in circleService.GetCircles())
        {
            <CircleCard Name="@c.Name" Members="@c.Members" @key="@c.Id"></CircleCard>
        }
    </RadzenStack>
</div>
