@namespace FourthPharos.Host.Components
@inherits StylePassthroughComponent

@inject NavigationManager navigator

<div class="circle-card @Classes" style="@Styles" >
    <a class="circle-name" @onclick=@(() => navigator.NavigateTo(Routes.EditCircle(Id)))>Circle of @(Name ?? "unknown")</a>
    <div class="circle-location">@Location</div>
    <div class="circle-actions">
        <button type="button" @onclick=@(() => navigator.NavigateTo(Routes.EditCircle(Id))) class="btn btn-primary">View</button>
        <button type="button" @onclick=@(() => navigator.NavigateTo(Routes.EditCircle(Id))) class="btn btn-secondary">Edit</button>
    </div>
</div>
