@import '../Styles/_colors.scss';
@import '../Styles/_units.scss';

/// Mixin to place items on a circle
/// @author Kitty Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;

    $angle: calc(360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg - 78deg)
          translate(calc(($circle-size / 2)))
          rotate($rot * -1deg)
          translateY(-12px)
      }

      $rot: $rot + $angle;
    }
  }
}

.pip {
  cursor: pointer;

  &:hover {
    color: $emerald-dark;
  }

  &::before {
    font-family: "Material Symbols Sharp";
    content: "\e836";
  }

  &.separator{
    &::before {
      font-variation-settings: "FILL" 1;
      content: "\e3ac";
    }
  }

  &.milestone::before {
    font-family: "Material Symbols Sharp";
    content: "\e57b";

  }

  &.filled {
    &::before {
      font-variation-settings: "FILL" 1;
      font-family: "Material Symbols Sharp";
      content: "\e836";
    }

    &.milestone::before {
      content: "\e8d0";
    }
  }
}

.circle-container {
  @include on-circle($item-count: 25, $circle-size: 10rem, $item-size: 0.7em);
}
