$steel-dark: #2D3033;
$steel-medium: #4D5157;
$steel-light: #868C96;
$steel-very-light: #acb3bd;

$copper-dark: #a46628;
$copper-medium: #cd7f32;
$copper-light: #d7995b;

$emerald-dark: #37ae5f;
$emerald-medium: #50c878;
$emerald-light: #77d496;