[*.razor.cs]
# use camel case with _ prefix for private fields, e.g. _myField
dotnet_naming_style.private_field_style.required_prefix           =
dotnet_naming_style.private_field_style.capitalization            = camel_case

dotnet_naming_symbols.private_fields.applicable_kinds             = field
dotnet_naming_symbols.private_fields.applicable_accessibilities   = private